@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: theme("fontFamily.text");
  background-color: theme("colors.background");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.heading");
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 25px;
  border: 1px solid theme("colors.orange");
  background-color: theme("colors.orange");
  color: theme("colors.background");
  cursor: pointer;
  transition: ease 0.3s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: theme("colors.background");
    color: theme("colors.orange");
  }
}
