@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,700&display=swap");
@import "@wojtekmaj/react-daterange-picker/dist/DateRangePicker.css";
@import "react-calendar/dist/Calendar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  font-family: theme("fontFamily.text");
  background-color: theme("colors.secondary");
}

body {
  width: 100%;
}

main {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.heading");
}

.btn {
  padding: 0.15rem 1rem;
  border-radius: 25px;
  border: 1px solid theme("colors.primary");
  background-color: theme("colors.background");
  color: theme("colors.secondary");
  cursor: pointer;
  transition: ease 0.3s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: theme("colors.primary");
    color: theme("colors.secondary");
  }
}

.btn-revert {
  padding: 0.15rem 1rem;
  border-radius: 25px;
  border: 1px solid theme("colors.primary");
  background-color: theme("colors.primary");
  color: theme("colors.white");
  cursor: pointer;
  transition: ease 0.3s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: theme("colors.primary");
    color: theme("colors.secondary");
  }
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.search-results {
  max-width: 375px;
  max-height: 22rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

input {
  text-indent: 0.5rem;
}

.mapStyle {
  position: relative;
  margin-top: 2rem;
}

.mapStyle path {
  fill: theme("colors.secondary");
  transition: ease 0.3s;
}

#africa:hover path,
#europe:hover path,
#asia:hover path,
#NA:hover path,
#SA:hover path,
#australia:hover path {
  fill: theme("colors.primary");
  transition: ease 0.3s;
  scale: 1.01;
  cursor: pointer;
}

.cards {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: theme("colors.background");
  color: theme("colors.secondary");
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: none;
  width: 100%;
  scroll-snap-align: start;
}

img {
  width: 100%;
  display: block;
}

textarea {
  text-indent: 0.5rem;
}

form select {
  text-indent: 0.3rem;
  height: 38px;
}

.loader {
  font-size: 16px;
  margin: auto;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  box-sizing: border-box;
  animation: spotlight 2s linear infinite alternate;
}

@keyframes spotlight {
  0%,
  20% {
    opacity: 1;
    letter-spacing: 2px;
  }
  80%,
  100% {
    opacity: 0;
    letter-spacing: 16px;
  }
}

/* MODAL SUCCESS LOADER */
.circle-loader {
  margin-bottom: 3.5em;
  border: 1px solid theme("colors.primary");
  border-left-color: theme("colors.secondary");
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin: auto;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: theme("colors.primary");
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}

.load-complete .checkmark {
  display: block;
}

.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
  opacity: 1;
  height: 3.5rem;
  width: 1.75rem;
  transform-origin: left top;
  border-right: 3px solid theme("colors.primary");
  border-top: 3px solid theme("colors.primary");
  content: "";
  left: 1.75rem;
  top: 3.5rem;
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75rem;
    opacity: 1;
  }
  40% {
    height: 3.5rem;
    width: 1.75rem;
    opacity: 1;
  }
  100% {
    height: 3.5rem;
    width: 1.75rem;
    opacity: 1;
  }
}

.react-calendar {
  width: 100%;
  padding: 1rem;
  border: none;
}

.noPinterEvents {
  pointer-events: none;
}

.react-calendar__tile {
  border-radius: 25px;
}

.react-calendar__tile:hover {
  background-color: theme("colors.primary") !important;
  color: theme("colors.white") !important;
}

.react-calendar__tile:disabled {
  background-color: theme("colors.accentTwo");
  color: theme("colors.white");
  opacity: 0.5;
  pointer-events: none;
}

.react-calendar__tile--now {
  border-radius: 25px;
  background-color: theme("colors.primary") !important;
  opacity: 1 !important;
}

.react-calendar__tile--active {
  background-color: theme("colors.accent") !important;
  color: theme("colors.white") !important;
}

.plane {
  position: absolute;
  left: 0;
  top: 77%;
  font-size: 2rem;
  animation: fly 30s linear infinite;
}

@keyframes fly {
  0% {
    left: -10%;
    transform: rotate(0deg);
  }
  50% {
    left: 50%;
    transform: rotate(0deg);
  }
  100% {
    left: 110%;
    transform: rotate(0deg);
  }
}
