@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  font-family: theme("fontFamily.text");
  background-color: theme("colors.background");
}

main {
  margin-bottom: 10rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.heading");
}

.btn {
  padding: 0.15rem 1rem;
  border-radius: 25px;
  border: 1px solid theme("colors.primary");
  background-color: theme("colors.background");
  color: theme("colors.secondary");
  cursor: pointer;
  transition: ease 0.3s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: theme("colors.primary");
    color: theme("colors.secondary");
  }
}

.btn-revert {
  padding: 0.15rem 1rem;
  border-radius: 25px;
  border: 1px solid theme("colors.primary");
  background-color: theme("colors.secondary");
  color: theme("colors.background");
  cursor: pointer;
  transition: ease 0.3s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: theme("colors.primary");
    color: theme("colors.secondary");
  }
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

input {
  text-indent: 0.5rem;
}

.mapStyle {
  position: relative;
  margin-top: 2rem;
}

.mapStyle path {
  fill: theme("colors.secondary");
  transition: ease 0.3s;
}

#africa:hover path,
#europe:hover path,
#asia:hover path,
#NA:hover path,
#SA:hover path,
#australia:hover path {
  fill: theme("colors.primary");
  transition: ease 0.3s;
  scale: 1.01;
  cursor: pointer;
}

.cards {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: theme("colors.background");
  color: theme("colors.secondary");
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: none;
  width: 100%;
  scroll-snap-align: start;
}

img {
  width: 100%;
  display: block;
}

.loader {
  position: relative;
  border: 24px solid;
  border-color: #fff transparent #fff transparent;
  animation: rotate 2s linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid transparent;
  border-left-color: #fff;
  position: absolute;
  left: -24px;
  top: -24px;
  animation: mvx 1s infinite linear;
}
.loader:before {
  border-color: transparent #fff transparent transparent;
  animation-name: mvrx;
  animation-delay: 0.5s;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes mvx {
  20%,
  80% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}
@keyframes mvrx {
  20%,
  80% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
